<div><button (click)="setMonitor()">render monitor form template</button></div>
<div><button (click)="setLaptop()">render laptop form template</button></div>
<hr/>

<ng-container [ngSwitch]="switch_expression">
  
    <tab-container [headerTemplate]="monitorFormTemplate"
     *ngSwitchCase="'monitor'"></tab-container>      
    
     <tab-container [headerTemplate]="laptopFormTemplate"
     *ngSwitchCase="'laptop'"></tab-container>      
</ng-container>


<!-- templates -->
<ng-template #monitorFormTemplate>
  <div class="monitor-container">
      <div><input placeholder="monitor size"></div>
      <div>
        <select>
          <option>DisplayPort</option>
          <option>HDMI</option>
      </select></div>
      <button class="tab-button">
        Submit
      </button>
  </div>
</ng-template>

<ng-template #laptopFormTemplate>
  <input placeholder="laptop size">
      <button class="tab-button">
        Submit
      </button>
</ng-template>
